h1
{
    text-align: center;
}
#header, #footer
{
    width: 100%;
    background-color: #8FBC8F;
    padding: 10px;
    height: 100px;
}
.content
{
    max-width: 960px;
    margin: 0 auto;
}
.img
{
    float: left;
    margin: 10px;
    width: 90px;
    height: 90px;
}
#nav > div
{
    display: inline-block;
    padding: 4px 10px;
    background-color: #DDA0DD;
}
.syte
{
    margin-top: 10px;
}
.blok
{
    padding: 8px;
    margin: 10px 0;
    background-color: #FFC0CB;
    text-align: center;
}
.blok > div
{
    margin: 10px 0;
}
#table
{
    margin: 0 auto;
    border-collapse: collapse;
}
#table, #table td
{
    border: 2px #DB7093 solid;
}
#table td
{
    padding: 11px;
    text-align: center;
}
#table thead tr
{
    background-color: #8FBC8F important;
}
#table tr:nth-child(even)
{
    background-color: #FFB6C1;
}
#table tr:nth-child(odd)
{
    background-color: #FFDAB9;
}
.blok > form
{
    background-color: #EE82EE;
    width: 500px;
    margin: 5px auto;
    padding: 2px 0;
}
.blok > form > div
{
    margin: 5px 0;
}
#footer > div > div
{
    margin-left: 130px;
}
