h1
{
    text-align: center;
}
#header, #footer
{
    width: 100%;
    background-color: #800000;
    padding: 10px;
    height: 100px;
}
.body
{
    background-color: #fff;
    background-image: url('backgroundbunny.jpg');
    background-repeat: repeat;
}
.content
{
    max-width: 960px;
    margin: 0 auto;
}
.img
{
    float: left;
    margin: 10px;
    width: 90px;
    height: 90px;
}
#nav > div
{
    display: inline-block;
    padding: 4px 10px;
    background-color: #800000;
}
.syte
{
    margin-top: 10px;
}
.blok
{
    padding: 8px;
    margin: 10px 0;
    background-color: #e5e5e5;
    background-image: url('imagebackground.png');
    text-align: center;
}
.blok > div
{
    margin: 10px 0;
}
#table
{
    margin: 0 auto;
    border-collapse: collapse;
}
#table, #table td
{
    border: 5px #800000 solid
}
#table td
{
    padding: 11px;
    text-align: center;
}
#table thead tr
{
    background-color: #4682B4! important;
}
#table tr:nth-child(even)
{
    background-color: #6495ED
}
#table tr:nth-child(odd)
{
    background-color: #87CEFA;
}
.blok > form
{
    background-color: #f6f6f6;
    background-image: url('imagebackground.png');
    width: 500px;
    margin: 5px auto;
    padding: 2px 0;
}
.blok > form > div
{
    margin: 5px 0;
}
#footer > div > div
{
    margin-left: 130px;
}
