h1
{
    text-align: center;
}
#header, #footer
{
    width: 100%;
    background-color: #8B0000;
    padding: 10px;
    height: 100px;
    border-radius: 9%;
}
.body
{
    background-color: #fff;
    background-image: url('backgroundbunny.jpg');
    background-repeat: repeat;
}
.middle
{
    padding: 8px;
    margin: 10px 0;
    background-color: #87CEFA;
    text-align: center;
    float: middle;
    width: 900px;
    border-color: #8B0000;
    border: inset;
    border-radius: 5%;
}
.middleheader{
	color: #D2B48C;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
table{
	margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 800px;
    height: 280px;
    border-spacing: 0px;
}
.form{
	margin-left: 350px;
    margin-right: auto;
    width: fit-content;
    color: #3c6474;
}
tr{
	background-color: #8cc0bd;
}
th{
	color: #183c43;
	border: solid;
	border-width: 3px;
    border-color: #3c6474;
}
#table tr:nth-child(even)
{
    background-color: #C998BF;
}
#table tr:nth-child(odd)
{
    background-color: #FFDAB9;
}
