body {
    background-color: #8EB69B;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #051F20;
    color: #f5f7fa;
}

h1 {
    font-size: 2.1rem;
    font-weight: bold;
}

h2 {
    color: black; /* Темно-серый для заголовков секций */
}


.nav-link {
    color: #f5f7fa; /* Белый цвет ссылок */
    transition: color 0.3s;
}

.nav-link:hover {
    color: black; /* Светлый цвет при наведении */
}

.container {
    background-color: #DAF1DE; /* Белый фон для контейнера */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта подъема */
    transition: transform 0.3s; /* Плавное изменение */
}

.container:hover {
    transform: translateY(-5px); /* Подъем контейнера при наведении */
}

.table th {
    background-color: #0B2B26; /* Синий фон для заголовков таблицы */
    color: black; /* Белый текст */
}
.table tr:nth-child(even) {
    background-color: #9BA8AB; /* Цвет фона для четных*/
    color: #253745! important;
}
.table tr:nth-child(odd) {
     background-color: #CCD0CF; /* Цвет фона для нечетных*/
    color: #06141B! important;
}

.btn-primary {
    background-color: #163832; /* Синий цвет кнопки */
    border: none; /* Без рамки */
    transition: background-color 0.3s, transform 0.2s; /* Плавное изменение */
}

.btn-primary:hover {
    background-color: #357ab8; /* Темнее при наведении */
    transform: translateY(-2px); /* Подъем кнопки */
}

footer {
    background-color: #051F20; /* Синий цвет для подвала */
    color: #f5f7fa; /* Белый текст */
    font-weight: bold;
    position: relative; /* Позиционирование для эффекта */
    bottom: 0; /* Зафиксированный подвал */
    width: 100%; /* Полная ширина */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта подъема */
}

.text {
    text-align: left;
}

@media (max-width: 767px) {
    .links {
        order: 1; /* Секция ссылок идет ниже */
    }

    .table {
        order: 0; /* Помещаем секцию таблицы выше секции ссылок */
    }

    .form {
        order: 2;
    }
}
