.body {
    background-color: #0b2b26;
  }
  
.header,.footer  {
    background-color: #051f20; 
}
  
  #nav_button{
    color: #000000;
  }
  
  .window{
    background-color: #163832;
    max-width: 960px;
  }
  
  .table {
    border-collapse: collapse;
    overflow-x: auto;
    max-width: 500px;
  }
  
  th, td {
    border: 3px solid #051f20;
  }
  
  th {
    background-color: #235347; 
  }
  
  tbody tr:nth-child(even) {
    background-color: #235347; /*четныe*/
  }
  
  tbody tr:nth-child(odd) {
    background-color: #8eb69b; /*нечетныe*/
  }
  
